body {
    font-family: 'Raleway', sans-serif;
}

.left_simulation {
    position: absolute;
    left: 0;
    top: 0%;
    width: 45%;
    height: 75%;
}

.left_graph {
    position: absolute;
    left: 0;
    top: 75%;
    height: 25%;
    width: 45%;
    background-color: black;
}

.right_graph {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    border-left-style: solid;
    border-left-color: rgb(141, 141, 141);
    border-left-width: 1px;
}

.sliders {
    position: relative;
    top: 24px;
}

.slider_container_hurry {
    width: 48%;
    position: relative;
    top: 48px;
    left: 19%;
}

.slider_container_flow {
    width: 48%;
    position: relative;
    top: 28px;
    left: 19%;
}

.text_hurry_left {
    position: absolute;
    top: 38px;
    left: 8%;
    color: rgb(253, 128, 93);
    font-size: 0.9em;
}

.text_hurry_right {
    position: absolute;
    top: 38px;
    right: 7%;
    color: rgb(253, 128, 93);
    font-size: 0.9em;
}
.text_flow_left {
    position: absolute;
    top: 18px;
    left: 8%;
    color: rgb(253, 128, 93);
    font-size: 0.9em;
}

.text_flow_right {
    position: absolute;
    top: 18px;
    right: 7%;
    color: rgb(253, 128, 93);
    font-size: 0.9em;
}