body {
    font-family: 'Raleway', sans-serif;
}

.left_simulation {
    position: absolute;
    left: 0;
    top: 0%;
    width: 55%;
    height: 75%;
}

.left_graph {
    position: absolute;
    left: 0;
    top: 75%;
    height: 25%;
    width: 55%;
    background-color: black;
    border-top-style: solid;
    border-top-color: rgb(141, 141, 141);
    border-top-width: 1px;
    overflow: hidden;
}

.right_top_graph {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 75%;
    background-color: rgb(30, 30, 30);
    border-left-style: solid;
    border-left-color: rgb(141, 141, 141);
    border-left-width: 1px;
}

.right_bottom_graph {
    position: absolute;
    right: 0;
    top: 75%;
    width: 45%;
    height: 25%;
    background-color: black;
    border-top-style: solid;
    border-top-color: rgb(141, 141, 141);
    border-top-width: 1px;
    overflow: hidden;
}

.title_uti {
    position: absolute;
    left: 24px;
    top: 24px;
    padding: 3px 6px 3px 6px;
    border: 1px solid rgb(133, 131, 131);
    border-radius: 5px;
    color: white;
    background-color: rgb(88, 88, 88);
}

.title_area {
    position: absolute;
    left: 12px;
    top: 12px;
    padding: 3px 6px 3px 6px;
    border: 1px solid rgb(133, 131, 131);
    border-radius: 5px;
    color: white;
    background-color: rgb(88, 88, 88);
}

.current_flow {
    color: rgb(250, 180, 160);
    font-size: 90%;
}

.area_illegal_flow {
    position: absolute;
    bottom: -8px;
    right: 48px;
}

.area_cross_time {
    position: absolute;
    bottom: 12px;
    left: 40px;
}

.heatmap_container {
    position: relative;
    width: 90%;
    height: 80%;
    top: 70px;
    left: 44px;
    background-image: url("./img/utilization_back.png");
    background-size: 567px 446px;  /* original 908px 711px */
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow: hidden;
}

.heatmap_main {
    position: relative;
    top: 24px;
    left: 72px;
}

.heatmap_buf {
    position: relative;
    width: 0;
    top: -346.5px;
    left: 301px;
}

.heatmap_legend {
    position: absolute;
    width: 58px;
    height: 30px;
    background-image: url("./img/heatmap_legend.png");
    background-size: 58px 30px;
    bottom: 57px;
    left: 131px;
    border-right-style: solid;
    border-right-color: rgb(66, 66, 66);
    border-right-width: 0.5px;
}

.annotation {
    color: rgb(170, 170, 170);
    font-size: 13px;
}

.heatmap_leg_text1 {
    position: absolute;
    bottom: 56px;
    left: 50px;
}

.heatmap_leg_text2 {
    position: absolute;
    bottom: 74px;
    left: 50px;
}

.heatmap_ori1 {
    position: absolute;
    bottom: 145px;
    left: 66px;
}

.heatmap_ori2 {
    position: absolute;
    bottom: 145px;
    right: 60px;
}

.area_cross_anno {
    position: absolute;
    top: 36px;
    right: 88px;
}

.timer_nom {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 36px;
    color: rgba(255,255,255,0.5)
}

.timer_acc {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 36px;
    color: rgb(250, 70, 70);
}

.second {
    position: absolute;
    width: 200px;
    left: 22px;
}

.light_outline {
    position: absolute;
    left: 52.2%;
    top: 1%; 
    background-color:rgb(0, 0, 0);
    width: 30px;
    height: 53px;
    border-radius:10px;
  }
  
.light_red_on {
    position: relative;
    left: 50%;
    width:18px;
    height:18px;
    margin-top: 6px;
    margin-left:-9px;
    border-radius: 100%;
    display: block;
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 7px rgba(255, 69, 69, 0.7);
}

.light_red_off {
    position: relative;
    left: 50%;
    width:18px;
    height:18px;
    margin-top: 6px;
    margin-left:-9px;
    border-radius: 100%;
    display: block;
    background-color: rgb(95, 41, 41);
  }

.light_green_on {
    position: relative;
    left: 50%;
    width:18px;
    height:18px;
    margin-top: 6px;
    margin-left:-9px;
    border-radius: 100%;
    display: block;
    background-color: rgb(2, 172, 2);
    box-shadow: 0 0 7px rgba(69, 255, 69, 0.7);
}

.light_green_off {
    position: relative;
    left: 50%;
    width:18px;
    height:18px;
    margin-top: 6px;
    margin-left:-9px;
    border-radius: 100%;
    display: block;
    background-color: rgb(55, 75, 59);
}
