body {
    font-family: 'Raleway', sans-serif;
}

.left_simulation {
    position: absolute;
    left: 0;
    top: 0%;
    width: 45%;
    height: 75%;
}

.left_graph {
    position: absolute;
    left: 0;
    top: 75%;
    height: 25%;
    width: 45%;
    background-color: black;
}

.right_graph {
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    border-left-style: solid;
    border-left-color: rgb(141, 141, 141);
    border-left-width: 1px;
}

.timer {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 36px;
    color: rgba(255,255,255,0.5)
}

.second {
    position: absolute;
    left: 22px;
}